body {
  background: black;
  margin: 0px;

}
canvas {
  min-height: 100%;
  max-width:100%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  position: absolute;
  left: 0;
  top: 0;


}
