:root {
  --w-nav-right: 5rem;
}

/* ######### DEBUGNAV ######### */
.debug {
  display: grid; 
  gap: 0.8rem;
  padding-top: 5rem;
  justify-items: center;
}

/* ######### CONTENT ######### */
.debug__deviceSize {
  margin-block: 0;
  font-size: 0.7rem;
  color: var(--c-white);
  text-align: center; 
}
.debug__showTracer,
.debug__showColor {
  width: 70%;
  background-color: var(--c-black);
  border:none;
  border-radius: 0.5rem;
  color: var(--c-white);
  font-size: 4rem; 
  cursor: pointer; 

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}


/* ######### MUSIC SHEET ######### */
.page.debug .sheet {
  border: 2px solid #099515;
}

.page.debug .sheet irr-chords {
  border: 2px solid #b82929;
}

.page.debug .sheet irr-chords irr-cell:nth-child(odd) {
  background-color: rgba(215, 46, 46, 0.45);
}
.page.debug .sheet irr-chords irr-cell:nth-child(even) {
  background-color: rgba(229, 153, 95, 0.826);
}

.page.debug .sheet irr-chords irr-cell irr-chord {
  background-color: rgba(102, 37, 168, 0.45);
}

.page.debug .sheet irr-chords irr-cell irr-chord irr-lbar,
.page.debug .sheet irr-chords irr-cell irr-chord irr-rbar {
  background-color: rgba(16, 80, 184, 0.582);
}

.page.debug .sheet irr-chords irr-cell irr-repeat {
  background-color: rgba(16, 184, 170, 0.582);
}

.page.debug .sheet irr-chords irr-cell irr-chord sub {
  background-color: rgba(16, 80, 184, 0.582);
}

.page.debug .sheet irr-chords irr-cell irr-chord sup {
  background-color: rgba(16, 80, 184, 0.582);
}

.page.debug .sheet irr-chords irr-spacer {
  background-color: rgba(59, 168, 37, 0.45);
}

.page.debug .sheet irr-chords irr-cell irr-chord irr-over {
  background-color: rgba(167, 184, 16, 0.582);
}
