/* #########  WRAPPERS  ######### */ 
irr-chords { 
  grid-row-gap: 0.7em;
  margin-left: 0.35em;
}
irr-cell {
}
irr-chord {  
} 


/* #########  CHORDS  ######### */  
irr-chord {  
} 

/* Alternate chords above the regular chord */
irr-chord > irr-chord {
  /* left: 1.5em; */
}   

/* The "over note" in regular chords */
irr-over { 
  position: relative;
  font-size: 0.6em; 
  left: -0.2em; 
  top: 0.1em;
}
irr-over>sup { 
}

/* The "over note" in alt chords is behind the note */
/* irr-chord:has(irr-over) */
irr-chord>irr-chord>irr-over {  
  left: 0.2em;
} 
irr-chord:has(irr-over) { 
} 


/* #########  FLATS  ######### */ 
irr-chord > sup {
  position: absolute;
  font-size: 0.7em;
  margin-top: 0.4em;
  margin-left: 0.1em; 
} 


/* #########  MODIFIERS  ######### */ 
irr-chord > sub {
  margin-left: 0.15em;
  font-size: 0.5em;
  letter-spacing: 0.1em;
}

/* below chord hort */
/* irr-chord > sub {
  position: absolute;
  font-size: 0.55em;
  margin-top: 1.7em;
  margin-left: -1em;
} */

/* beside chord vert */
/* irr-chord > sub  {
  text-orientation: upright;
  writing-mode: vertical-rl; 
  letter-spacing: -0.5em;
} */


/* #########  BETWEEN ROWS  ######### */ 
irr-repeat {
  font-size: 0.35em;
  /* margin-top: 0.3em; */
}
irr-spacer {
  margin-block: -0.1em;
  border-bottom: 2px solid var(--c-grey-light);
}
irr-annot {
  font-size: 0.5em;
  margin-top: -0.2em;
} 
irr-cell.irr-comment {
  padding: 0;
}
irr-cell.irr-comment > irr-comment { 
  top: 3em;
}
irr-cell.small irr-comment {
  top: 0;
}


/* #########  SIDE ITEMS  ######### */
irr-measure {
  margin-left: -0.2em;
  margin-bottom: -0.7em;  
  top: 0.2em;
}
irr-section {
  background-color: var(--c-grey-light);
  margin-left: 0.19em;
}
/* if there is a section at the top, add more space*/ 
irr-chords:has(irr-section):first-child {
  margin-top: 0.9em;
} 
irr-cell:has(irr-section) > irr-chord > irr-chord {
  margin-left: 0.15em;
}
irr-cell:has(irr-section) > irr-chord > irr-chord>sub {
  margin-left: -0.15em;
}
irr-cell:has(irr-section) > irr-repeat { 
  margin-left: 2em;
} 

/* #########  BARS  ######### *//*
irr-cell > irr-rbar {
  margin-top: 0.3em;
}
irr-chord:has(> irr-rbar),
irr-cell:has(> irr-lbar) { 
} */
irr-cell:has(> irr-rbar),
irr-cell:has(> irr-lbar) { 
  /* justify-content: center;
  left: 0.2em; */
}
irr-cell > irr-rbar {   
  margin-top: 0.25em;
}
irr-chord > irr-rbar {  
}
irr-cell.small:has(irr-chord>irr-rbar) { 
  /* fix the end bar */ 
  width: 1.4em;
}
irr-cell+irr-cell:has(>irr-chord>irr-rbar) { 
  top: 0.25em;
  left: -0.1em;
}



/* #########  RANDOM  ######### */
irr-char.single-repeat {   
}
/* #########  RANDOM  ######### *//*
irr-char { 
  margin-top: 0.3em;
}
irr-char.double-repeat { 
  
}
irr-root { 
  
}




/* #########  DEBUG COLORS ######### */ 
/*
irr-chord { 
  color: rgb(108, 104, 209);
} 
irr-chord > sup { 
  color: rgb(50, 174, 196);
} 
irr-chord > sub { 
  color: rgb(215, 46, 27);
} 
irr-cell > irr-rbar { 
  color: rgb(255, 238, 0);
}  
irr-chord > irr-rbar { 
  color: rgb(179, 168, 10);
}  
irr-cell > irr-lbar { 
  color: rgb(82, 230, 53);
}  
irr-chord > irr-lbar { 
  color: rgb(57, 141, 32);
} 
irr-annot,
irr-comment,
irr-repeat { 
  color: rgb(255, 255, 255);
} 
irr-repeat {
  border-color: rgb(255, 255, 255);
} 
