/* ######### PAGE ######### */
@font-face {
  font-family: 'MuseJazzText';
  src: url('fonts/MuseJazzText.otf') format('opentype');
}

.page,
.page--dark {
  /* height: 91%; */
  height: auto;
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem;
  font-family: 'MuseJazzText';
  box-shadow: none;
}
.page {
  background: var(--c-page-light);
  border-color: var(--c-page-light-border);
}
.page--dark {
  background: var(--c-page-dark);
  border-color: var(--c-page-dark-border);
}

/* ######### MUSIC SHEET HEADER ######### */
.page__title {
  padding: 0;
  font-size: 1.4rem;
  text-align: center; 
}

.page__subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-top: 0.9rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid var(--c-grey-dark);
}

/* ######### (MUSIC) SHEET ######### */
.page__sheet {
  font-size: calc(var(--vw) * 4);
}

.page__sheet:empty {
  display: none;
}

.page__sheet irr-chords {
  grid-row-gap: 1.0rem;
  margin-left: 0.4rem;
  width: 100%;
}

.page__sheet irr-chords irr-cell {
  margin-right: 0.5rem;
}

.page__sheet irr-chords irr-cell irr-measure {
  /* left: -10; */
  /* top: 6; */
  margin-left: -0.4rem;
  margin-top: 0.25rem;
}

.page__sheet irr-chords irr-cell irr-section {
  background-color: var(--c-grey-light);
  /* left: 18; */
  margin-left: 0.2rem;
}

.page__sheet .header div {
  flex: 1 1 auto;
  text-align: center;
  vertical-align: bottom;
}

.page__sheet .header div:first-child,
.page__sheet .header div:last-child {
  flex: 0 0 auto;
}

/* ######### SCREEN SIZES ######### */
@media (min-width: 768px) {
  .page__sheet {
    font-size: calc(var(--vw) * 3);
  }
  .page--shadow {
    box-shadow: 1rem 1rem 1rem 0 var(--c-page-light-shadow);
  }
  .page--dark-shadow {
    box-shadow: 1rem 1rem 1rem 0 var(--c-page-dark-shadow);
  }
}