:root {
  --w-nav-left: 15rem;
}

/* ######### SETLIST ######### */
.setlist { 
  display: grid;
  gap: 0.3rem;
  padding: 0.5rem;
}

/* ######### SETLIST CONTROLS ######### */
.setlist__header { 
  display: grid;
  grid-template-columns: 1fr 3rem;
  gap: 0.5rem;
  height: 2.7rem;
  margin-left: 2.5rem;
  align-items: center; 
}

.setlist__header__search {
  height: 70%;
  width: 100%;
  border-radius: 0.35rem;
  font-size: 1rem;
  align-content: center; 
  background-color: var(--c-white);
}

.setlist__header__search__clear {
  position: absolute;
  top: 0.9rem;
  right: 3.7rem;
  background: none;
  border: none;
  font-size: 1.3rem;
  color: var(--c-grey-light);
  cursor: pointer;
}
.setlist__header__search:placeholder-shown ~ .setlist__header__search__clear {
  visibility: hidden;
}

.setlist__header__random {
  background: none;
  border: none;
  border-radius: 0.35rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ######### SONGBOX ######### */
.setlist__songbox { 
  display: grid;
  gap: 0.5rem;
  height: calc((var(--vh)*100 ) - 4.2rem); 
  overflow-x: hidden;
}

.setlist__songbox__song { 
  background: none;
  border: none;
  font-size: 1.2rem;
  text-align: left;
  color: var(--c-grey-light);
  cursor: pointer;
}

.setlist__songbox__song:hover {
  color: var(--c-white);
}
