:root {
  --w-nav-left: 15rem;
}

/* ######### SETLIST ######### */
.setlist {
  display: grid;
  gap: 0.3rem;
  padding: 0.5rem;
}

/* ######### SETLIST CONTROLS ######### */
.setlist__header {
  display: flex;
  gap: 3px;
  height: 2.7rem;
  margin-left: 2.5rem;
  align-items: center;
}

.setlist__header__search {
  display: flex;
  position: relative;
  height: 70%;
  border-radius: var(--border-radius);
  align-content: center;
  background-color: var(--c-white);
}
.setlist__header__search__input {
  width: 100%;
  padding-inline: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  background: none;
  font-size: 1rem;
}
.setlist__header__search__input[type='text'] {
  width: 100%;
  padding-right: 1.5rem;
}

.setlist__header__search__clear {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  color: var(--c-grey-light);
  cursor: pointer;
}
.setlist__header__search__input:placeholder-shown
  ~ .setlist__header__search__clear {
  visibility: hidden;
}

.setlist__header__random {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.5rem;
  cursor: pointer;
}
.setlist__header__random:disabled {
  opacity: 0.5;
}

/* ######### SONGBOX ######### */
.setlist__songbox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: calc((var(--vh) * 100) - 4.2rem);
  overflow-x: hidden;
}

.setlist__songbox__song {
  background: none;
  padding: 0.2rem;
  font-size: 1.2rem;
  text-align: left;
  color: var(--c-grey-x-light);
  cursor: pointer;
}

.setlist__songbox__song:hover {
  background-color: var(--c-transparent-half);
}

.setlist__songbox__song .composer {
  font-size: .8rem;
  color: var(--c-grey-light);
}

.setlist__songbox__song .style {
  font-size: .8rem;
  color: var(--c-grey-x-light);
  float: right;
  }