/* ######### sideNav TOGGLE ######### */
#sideNavToggle { 
  position: absolute;
  top: 0;
  z-index: 2;
  width: 2.5rem;
  padding: 0.5rem;
  background: #33333340;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--transition-time);
} 

#sideNavToggle.open {
  background: rgba(129, 129, 129, 0);
} 

#sideNavToggle .bar {
  margin-top: 0.6rem;
  height: 0.3rem;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  transition: var(--transition-time);
}

#sideNavToggle.open .bar {
  background: #818181;
} 

/* Rotate first bar */
#sideNavToggle.open .b1 {
  transform: translate(0rem, .9rem) rotate(-45deg);
}

/* Fade out the second bar */
#sideNavToggle.open .b2 {
  opacity: 0;
}

/* Rotate last bar */
#sideNavToggle.open .b3 {
  transform: translate(0rem, -.9rem) rotate(45deg);
}

/* ######### sideNav ######### */ 
#sideNav {
  position: fixed;
  top: 0;
  left: -2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  padding: 1rem;
  background-color: #111;
  transition: var(--transition-time);
}

#sideNavToggle.open ~ #sideNav {
  left: 0;
  width: 20rem;
}

#sideNav #header {
  position: sticky;
  display: flex;
  padding-left: 0rem;
  padding-bottom: 1rem;
  color: var(--white);
  overflow: hidden;
  transition: var(--transition-time);
}

#sideNavToggle.open ~ #sideNav #header {
  padding-left: 4rem;
}

#sideNav #header * {
  padding: 0.5rem;
}

#sideNav #header #search {
  width: 100%;
  background-color: var(--white);
}

#search {  
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

#search:placeholder-shown ~ #clear {
  display: none;
}

#sideNav #random {
  text-align: center;
  font-size: 2rem;
  cursor:pointer;
}

#sideNav #clear {  
  margin-top: 0.05rem;
  margin-left: -2rem;
  font-size: 1.8rem; 
  color: #818181;
  cursor:pointer;
}

#sideNav #setlist {
  height: 100%;
  overflow-x: hidden;
}

#sideNav #setlist .song {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181; 
}

#sideNav #setlist .song:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  #sideNav {
    padding-top: 15px;
  }
  #sideNav a {
    font-size: 18px;
  }
}