/* ######### sideNav TOGGLE ######### */
#sideNavToggle {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
  width: 2.5rem;
  padding: 0.5rem;
  background: #00000050;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: var(--transition-time);
}

#sideNavToggle.open {
  background: rgba(0, 0, 0, 0);
}

#sideNavToggle .bar {
  margin-top: 0.6rem;
  height: 0.3rem;
  width: 100%;
  background: var(--white);
  border-radius: 0.3rem;
  transition: var(--transition-time);
}

#sideNavToggle.open .bar {
  background: #818181;
}

#sideNavToggle .b1 {
  margin-top: 0;
}

/* Form a triangle */
#sideNavToggle.open .b1 {
  transform: translate(-0.25rem, 0.3rem) rotate(-30deg);
}

#sideNavToggle.open .b2 {
  transform: translate(0.7rem, 0rem) rotate(90deg);
}

#sideNavToggle.open .b3 {
  transform: translate(-0.25rem, -0.3rem) rotate(30deg);
}

/* ######### sideNav ######### */
#sideNav {
  position: fixed;
  top: 0;
  left: -2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  padding: 0.5rem;
  background-color: #111;
  transition: var(--transition-time);
}

#sideNavToggle.open ~ #sideNav {
  left: 0;
  width: 20rem;
}

#sideNav #header {
  position: sticky;
  display: flex;
  height: 2.5rem;
  padding: 0.25rem 0 0.5rem 0;
  align-items: center;
  color: var(--white);
  overflow: hidden;
  transition: var(--transition-time);
}

#sideNavToggle.open ~ #sideNav #header {
  padding-left: 3.5rem;
}

#sideNav #header #search {
  height: 90%;
  width: 100%;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  background-color: var(--white);
}

#sideNav #clear {
  position: absolute;
  top: 0.35rem;
  right: 3.7rem;
  font-size: 1.8rem;
  color: #818181;
  cursor: pointer;
}

#search:placeholder-shown ~ #clear {
  visibility: hidden;
}

#sideNav #random {
  margin-left: 0.5rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
}

#sideNav #setlist {
  height: 89%;
  overflow-x: hidden;
}

#sideNav #setlist .song {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.3rem;
  color: #818181;
}

#sideNav #setlist .song:hover {
  color: var(--white);
}
