/*
CSS file for demo.html.
*/

body {
	font-family: Helvetica, swiss;
}
h3 {
	text-align: center;
}
label {
	width: 200px;
}
td {
	padding: 5px;
}
option {
	background-color: #eee;
	border: 1px solid grey;
	padding: 3px;
	margin: 2px;
}

#ui {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}

#left-box, #right-box {
	display: inline-block;
}

#left-box {
	width: 40%;
}

#right-box {
	width: 60%;
	display:flex;
	padding-left: 20px;
}

#songs {
   height: 8em;
   width: calc(100% - 10px);
   margin: 5px;
}

#songs:focus {
	outline: none;
}

.song-name {
	margin: 2px;
	padding: 3px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.1);
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.song-name > input {
    margin-right: 5px;
}

.song-columns>div {
	display: inline-block;
	position:relative;
	float:left;
	padding:5px;
}

.song {
	page-break-after:auto;
	page-break-inside: avoid;
	padding:5px;
    font-size: 32;
    margin: 1rem;
    max-width: 800; 
    margin: 2rem auto;
}

.song:last-of-type {
	page-break-after:avoid;
}

.song:empty {
	display: none;
}

.song.container {
	padding-bottom: 20px;
	border-bottom: 1px solid grey;
	width: 100%;
	font-kerning: normal;
}

.song >div {
	padding-bottom: 10px;
}

.song .chords {
	font-size:24pt;
	page-break-inside: avoid;
}

.song .text {
	font-size: 13pt;
	margin-bottom: 10px;
}

.song .header {
	display: flex;
	width: 100%;
}

.song .header>div {
	flex: 1 1 auto;
	text-align: center;
	vertical-align: bottom;
}

.song .header>div:first-child, .song .header>div:last-child {
	flex: 0 0 auto;
}

#page {
	/* Let us assume A4 format for now */
	max-width: 21cm;
	margin-left: auto;
	margin-right: auto;
	background:floralwhite;
	border: 1px solid #ccc;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(204,198,204,1);
	-moz-box-shadow: 10px 10px 5px 0px rgba(204,198,204,1);
	box-shadow: 10px 10px 5px 0px rgba(204,198,204,1);	
    padding: 10mm 10mm 10mm 20mm;
}

@media print {
	#ui {
		display: none;
	}

	#page {
		width: inherit;
		height: inherit;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;	
		padding: 0;
	}
}

@font-face {
	font-family: 'iRealFont';
	src:
	  url('/fonts/iRealFont.ttf') format('truetype'),
	  url('/fonts/iRealFont.woff') format('woff'),
	  url('/fonts/iRealFont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  i {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'iRealFont' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .Single-Barline:before {
	content: "\e000";
  }
  .Double-Barline:before {
	content: "\e001";
  }
  .Final-Barline:before {
	content: "\e002";
  }
  .Reverse-Final-Barline:before {
	content: "\e003";
  }
  .Left-Repeat-Sign:before {
	content: "\e004";
  }
  .Right-Repeat-Sign:before {
	content: "\e005";
  }
  .Dal-Segno:before {
	content: "\e010";
  }
  .Da-Capo:before {
	content: "\e012";
  }
  .No-Chord:before {
	content: "\e011";
  }
  .Fermata:before {
	content: "\e013";
  }
  .Segno:before {
	content: "\e014";
  }
  .Coda:before {
	content: "\e015";
  }
  .Codetta:before {
	content: "\e016";
  }
  .Root:before {
	content: "\e017";
  }
  .Root-Filled:before {
	content: "\e018";
  }
  .Repeated-Figure1:before {
	content: "\e020";
  }
  .Repeated-Figure2:before {
	content: "\e021";
  }
  .Repeated-Figure3:before {
	content: "\e022";
  }
  .Repeated-Figure4:before {
	content: "\e023";
  }
  .Measure-0-Low:before {
	content: "\e030";
  }
  .Measure-1-Low:before {
	content: "\e031";
  }
  .Measure-2-Low:before {
	content: "\e032";
  }
  .Measure-3-Low:before {
	content: "\e033";
  }
  .Measure-4-Low:before {
	content: "\e034";
  }
  .Measure-5-Low:before {
	content: "\e035";
  }
  .Measure-6-Low:before {
	content: "\e036";
  }
  .Measure-7-Low:before {
	content: "\e037";
  }
  .Measure-8-Low:before {
	content: "\e038";
  }
  .Measure-9-Low:before {
	content: "\e039";
  }
  .Measure-10-Low:before {
	content: "\e03a";
  }
  .Measure-11-Low:before {
	content: "\e03b";
  }
  .Measure-12-Low:before {
	content: "\e03c";
  }
  .Measure-0-High:before {
	content: "\e040";
  }
  .Measure-1-High:before {
	content: "\e041";
  }
  .Measure-2-High:before {
	content: "\e042";
  }
  .Measure-3-High:before {
	content: "\e043";
  }
  .Measure-4-High:before {
	content: "\e044";
  }
  .Measure-5-High:before {
	content: "\e045";
  }
  .Measure-6-High:before {
	content: "\e046";
  }
  .Measure-7-High:before {
	content: "\e047";
  }
  .Measure-8-High:before {
	content: "\e048";
  }
  .Measure-9-High:before {
	content: "\e049";
  }
  .Measure-10-High:before {
	content: "\e04a";
  }
  .Measure-11-High:before {
	content: "\e04b";
  }
  .Measure-12-High:before {
	content: "\e04c";
  }
  