body {
  font-family: 'Lato', sans-serif;
  transition: 0.5s;
  background-color: #333;
}

.menu-header {
  position: sticky;
  top: 0;
  padding-left: 4rem;
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 2.5rem;
  padding: 0.5rem;
  background: #3333;
  border-radius: .5rem;
}

.menu * {
  height: .4rem;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  margin-top: .6rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -2rem;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 1rem;
}

.sidenav .setlist-song {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: inherit;
  top: 0;
  font-size: 36px;
  color: white;
}

.sidenav.menuActive {
  width: 20rem;
  left: 0;
}

.search {
  position: sticky;
}

.setlist {
  padding-top: 4rem;
}

.control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #888;
  padding: 0 10% 0 10%;
}

.control > * {
  padding: .5rem;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

#tracer {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
canvas {
  width: auto;
  height: 100%;
}

#ireal-container {
  font-size: 32;
  margin: 1rem;
  max-width: 800;
  margin: 2rem auto;
}

.subtitle {
  display: flex;
}

.composer {
  margin-right: 0;
  margin-left: auto;
}

.key {
  margin-left: auto;
}